@page
@model VideoModel
@{
    ViewData["Title"] = "List of Videos";
}
<h2>@ViewData["Title"]</h2>

<ul>
    @foreach(var video in Model)
    {
        
    }
</ul>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Video Name</th>
      <th>YouTube ID</th>
      <th>Length (in second)</th>
    </tr>
  </thead>
  <tbody>
      @{ int counter = 1; }
      @foreach(var video in Model)
      {
        <tr>
            <td>@counter</td>
            <td>@video.Name</td>
            <td>@video.YoutubeId</td>
            <td>@video.LengthInSecond</td>
        </tr>

        counter++;
      }
    
  </tbody>
</table> 